@{
    ViewData["Title"] = "ToDoDashboard";
}

@if (User.Identity.IsAuthenticated)
{
    <h1 class="display-4">Welcome! @User.Identity.Name</h1>
}
else
{
    <h1 class="display-4">Welcome! Guest</h1>
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome! @User.Identity.Name</h1>
    <table class="table">
    <th>
        <td>Done</td>
        <td>Description</td>
        <td>Actions</td>
    </th>
</table>
</div>
<a asp-controller="Home" asp-action="CreateEditToDoItem">Update Task List</a>
-->